name: github-blog-demo
run-name: ${{ github.actor }} push and build the blog
on:
  push:
    branches:
    - master
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Debug system info
        run: ls & node -v

      - name: Install dependencies
        run: npm i

      - name: Build artifact
        run: npm run build

      - name: Upload-artifact
        uses: actions/upload-artifact@v2
        with:
          path: docs
        
      - name: Deploy Page To Release
        id: deployment
        uses: actions/deploy-pages@v1


