name: github-blog-demo
run-name: ${{ github.actor }} push and build the blog
on: push
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
      - uses: actions/checkout@v3

      - name: Setup node
      - uses: actions/setup-node@v3
        with:
          node-version: '14'

      - name: Debug system info
      - run: ls 
      - run: node -v

      - name: Install dependencies
      - run: npm i

      - name: Build artifact
      - run: npm run build

      - name: Upload-artifact
      - uses: actions/upload-artifact@v2
        with:
          path: docs
        
      - name: Deploy Page To Release
        id: deployment
      - uses: actions/deploy-pages@v1


